@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Red+Hat+Display:wght@500;700;900&display=swap");

:root {
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);

  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
  background-color: var(--pale-blue);
}
* {
  font-family: "Red Hat Display", sans-serif;
}
.card-component {
  background-color: white;
  border-radius: 1em;
  padding: 1em;
  margin: auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-content: center;
  max-width: 300px;
}

h1 {
  font-weight: 900;
  text-align: center;
}

.card-component .hero {
  margin: -1em;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

.card-component h2,
p {
  text-align: center;
  margin-top: -1em;
  color: var(--desaturated-blue);
}

span {
  color: var(--desaturated-blue);
}

.card-component .plan-card {
  display: flex;
  justify-content: space-between;
  align-self: stretch;
  background-color: var(--very-pale-blue);
  padding: 1em;
  border-radius: 1em;
}

.card-component .plan-card .plan-details {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

strong {
  font-weight: 700;
}
.btn-link {
  background-color: transparent;
  border: none;
  color: var(--bright-blue);
  text-decoration: underline;
  font-weight: 700;
}

.button-cta {
  background-color: var(--bright-blue);
  border-radius: 1em;
  padding: 1em;
  border: none;
  color: white;
  box-shadow: 0px 20px var(--very-pale-blue) blur;
  font-weight: 700;
}
:is(.button-cta, .btn-link):hover {
  opacity: 0.8;
  cursor: pointer;
}

.cancel-cta {
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  color: var(--desaturated-blue);
}

.cancel-cta:hover {
  color: var(--dark-blue);
}

.attribution {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
